@model UMS.Models.UserInfo
@{
    ViewBag.Title = "Forgot your password?";
}



@using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "logInForm" }))
{
   
    <h2 align ="center">Forgot your password?</h2>
    <div class="row">
        <div class="form-group">

            <div class="col-md-5 col-md-offset-3">
                <div class="row">
                    <div style="text-align: right;">
                        @Html.LabelFor(m => m.Email, new {@class = "col-md-4 control-label"})
                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger col-md-5"})
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div align="center">
            <input type="submit" class="btn btn-primary btn-lg" value="Recover" data-target="#passwordChanged" id="btnForgot" />&nbsp;&nbsp;&nbsp;
            @Html.ActionLink("Go Back","Login","User",null,new{@class="btn btn-primary btn-lg"})
        </div>
    </div>
}

<div id="passwordChanged" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class=" modal-title">@Html.Label("Alert Message", new { @class = "modalTitle h3" })</div>
                <div class="modal-body">
                    @Html.Raw("Your password has been changed to: " + ViewBag.Password)
                </div>
                <div class="modal-footer">
                    <input type="button" value="OK" class="btn btn-primary btn-lg" id="OK" onclick="location.href = '@Url.Action("Login","User")'" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="error" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class=" modal-title">@Html.Label("Error", new { @class = "modalTitle h3" })</div>
                <div class="modal-body">
                    @Html.Raw(ViewBag.ErrorMessage)
                </div>
                <div class="modal-footer">
                    <input type="button" value="OK" class="btn btn-primary btn-lg" id="OK"  data-dismiss="modal" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryDataTables")
    <script>

        var pass = '@ViewBag.Password';
        if (pass == '') {
            $("#passwordChanged").modal("hide");
        } else {
            $("#passwordChanged").modal("toggle");
        }

        if ('@ViewBag.ErrorMessage' == '') {
            $("#error").modal("hide");
        } else {
            $("#error").modal("toggle");

        }


    </script>
}
