
@{
    ViewBag.Title = "Add User";
    Layout = null;
}

@model UMS.Models.UserInfo
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/DataTables")



<link href="~/Content/Layout.css" rel="stylesheet" />


@using (Html.BeginForm("Create", "Administration", FormMethod.Post))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(m => m.FirstName, new { @class = "control-label lab" })<span style="color: red; font-size: 18px">*</span>
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control input-sm val", id = "FirstName", @maxlength = 20 })
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(m => m.LastName, new { @class = "control-label lab" })<span style="color: red; font-size: 18px">*</span>
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control input-sm val", @maxlength = 30 })
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(m => m.UserName, new { @class = "control-label lab" })<span style="color: red; font-size: 18px">*</span>
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-sm val", id = "username", @maxlength = 20 })
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
            @Html.LabelFor(m => m.Email, new { @class = "control-label  lab" })<span style="color: red; font-size: 18px">*</span>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-sm val", @maxlength = 50, id = "email" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(m => m.Address, new { @class = "form-control-label lab" })<span style="color: red; font-size: 18px">*</span>
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control input-sm val", @maxlength = 80 })
            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
            @Html.LabelFor(m => m.City, new { @class = "form-control-label lab" })<span style="color: red; font-size: 18px">*</span>
            @Html.TextBoxFor(m => m.City, new { @class = "form-control input-sm val", @maxlength = 50 })
            @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(m => m.Country, new { @class = "form-control-label lab" })<span style="color: red; font-size: 18px">*</span>
            @Html.TextBoxFor(m => m.Country, new { @class = "form-control input-sm val", @maxlength = 50 })
            @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger " })
        </div>

        <div class="col-md-6">
            @Html.LabelFor(m => m.Zipcode, new { @class = "form-control-label lab" })<span style="color: red; font-size: 18px">*</span>
            @Html.TextBoxFor(m => m.Zipcode, new { @class = "form-control input-sm val", @maxlength = 9 })
            @Html.ValidationMessageFor(m => m.Zipcode, "", new { @class = "text-danger " })
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "form-control-label lab" })<span style="color: red; font-size: 18px">*</span>
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control input-sm val", @maxlength = 13 })
            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(model => model.Status_Id, "Status", htmlAttributes: new { @class = "control-label lab" })
            @Html.DropDownList("Status_Id", null, htmlAttributes: new { @class = "form-control btn-primary val" })
            @Html.ValidationMessageFor(model => model.Status_Id, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
            @Html.LabelFor(model => model.Role_Id, "Role", htmlAttributes: new { @class = "control-label lab" })
            @Html.DropDownList("Role_Id", null, htmlAttributes: new { @class = "form-control btn-primary val" })
            @Html.ValidationMessageFor(model => model.Role_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <input class="btn btn-primary btn-lg" type="submit" value="Add User" style="margin-top:10px; margin-left:15px;" />
    </div>
}

@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")
